body {
    font-family: Cambria, serif;
    margin: 0;
  }

  #adminnav{
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20em;
    gap: 50px;
    background-color: rgb(18, 30, 99);
    color: #4e45a1;
  }

  #adminnav a {
    color: rgb(131, 131, 209);
    text-decoration: none;
  }
  #adminnav a:hover {
    color: white;
    text-decoration: underline;
  }
  
  header {
    display: flex;
    height: auto;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    background-color: rgb(9, 20, 82);
    color: white;
  }
  
  #logotitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #logotitle img {
    margin-right: 10px;
    display: block;
    width: 80px;
    height: auto;
  }

  #logotitle a {
    color: white;
    text-decoration: none;
  }

  #logotitle h4,h1 {
    padding: 0px;
    display: inline;
  }

  .searchNav {
    display: flex;
    align-items: center;
  }

  .searchNav input, button{
    display: inline;
    padding: 10px;
  }

  .searchNav input {
    width: 20em;
  }

  .searchNav button {
    width: 5em;
  }
  
  #topright {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
  }
  
  #topright a {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    text-decoration: underline;
    padding: 5px 10px; /* Add padding around links to show white background during hover */
    border-radius: 10px;
  }

  #topright a:hover{
    background-color: white; 
    color: brown;
    transition: 0.3s;
    opacity: 0.7;
  }

  #productnav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(18, 30, 99);
  }

  #productnav a {
    display: inline;
    color: white;
    text-decoration: none;
  }
  #productnav a:hover {
    text-decoration: underline rgb(255, 0, 200);
    text-decoration-thickness: 8px;
  }

  #body {
    margin: 0 20px 0 20px;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  #products {
    margin: 0 auto;
    width: 80%;
  }
  
  #products ul {
    list-style: none;
    padding: 0;
  }

  #products li {
    border: 1px solid #ccc;
  }

.products-content {
  padding: 0 15px 0 15px;
}

#products ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.padding-bottom {
  padding-bottom: 50px;
}

.center li {
  list-style: none;
  padding: 10px;
}

#submitbtn {
  background-color: rgb(17, 17, 190); 
  color: white;
  padding: 10px;
}

#productdiv {
  margin-top: 50px;
  padding: 0 200px 0 200px;
}

.pricemsg {
  font-style: italic;
  color: grey;
  margin: 0;
}

#create-category, #current-categories {
  margin: 0 200px 0 200px;
  border: 1px solid #989898;
}

#current-categories li {
  list-style: none;
}

#current-categories table {
  border-collapse: collapse;
}

  #current-categories th {
    border: 1px solid #635757;
    text-align: left;
    padding: 15px;
    background-color: #f2f2f2;
  }

  #current-categories td {
    border: 1px solid #635757;
    text-align: left;
    padding: 8px;
  }

#edit-category {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

#edit-category li {
  list-style: none;
}