body {
    font-family: Cambria, serif;
    margin: 0;
  }
  
  header {
    display: flex;
    height: auto;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    background-color: rgb(9, 20, 82);
    color: white;
  }
  
  #logotitle {
    display: flex;
    align-items: center;
  }
  
  #logotitle img {
    margin-right: 10px;
    display: block;
    width: 80px;
    height: auto;
  }

  #logotitle a {
    color: white;
    text-decoration: none;
  }

  #logotitle h4,h1 {
    padding: 0px;
    display: inline;
  }

  .searchNav {
    display: flex;
    align-items: center;
  }

  .searchNav input, button{
    display: inline;
    padding: 10px;
  }

  .searchNav input {
    width: 20em;
  }

  .searchNav button {
    width: 5em;
  }
  
  #topright {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
  }
  
  #topright a {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    text-decoration: underline;
    padding: 5px 10px; /* Add padding around links to show white background during hover */
    border-radius: 10px;
  }

  #topright a:hover{
    background-color: white; 
    color: brown;
    transition: 0.3s;
    opacity: 0.7;
  }

  section {
    margin: 0 20px 0 20px;
  }

  #blogs {
    margin: 0 auto;
    width: 80%;
  }
  
  #blogs ul {
    list-style: none;
    padding: 0;
  }
  
  #blogs li {
    margin-bottom: 10px;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
    
  }

  .blog-header {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 40px;
}

.blog-header h2 {
    font-weight: bold;
    color: brown;
}

.blog-content {
    padding: 20px;
    text-align: justify;
}